body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.container {
  max-width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 15px 15px 10px 5px #add6c5;
}
#todo-form {
  padding: 30px 22px;
}

h1 {
  text-align: center;
  font-family: monospace;
}

form {
  margin-bottom: 20px;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px 3px;
  margin: auto;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  display: block;
  width: 80%;
  padding: 10px;
  border: none;
  background-color: #1d4443;
  color: #ffffff;
  cursor: pointer;
  border-radius: 4px;
  margin: 20px 35px;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #f9f9f9;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
}

li:last-child {
  margin-bottom: 0;
}
